

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="about-container">
  <div class="about-text">
    <h2>About Me</h2>
    <p>
      Hi, I'm Samir, a passionate Full Stack Software Engineer with expertise in building dynamic and scalable web applications. I specialize in Java, Spring Boot, Angular, and databases such as MySQL and PostgreSQL. My journey into tech has been both challenging and rewarding, and I am constantly learning to keep up with the evolving tech landscape.
    </p>
    <p>
      I enjoy solving complex problems and bringing ideas to life through code. When I'm not coding, I love exploring new technologies, working on personal projects, and sharing knowledge with others.
    </p>
  </div>


  <div class="canvas-wrapper">
    <canvas id="bgCanvas"></canvas>
  </div>
</div>



<div class="col-md-12">

</div>


<div class="tech-stack">
  <h1>Tech Stack</h1>
  <h3 >🖥️ Programming Languages  </h3>


    <img src="https://img.shields.io/badge/Java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" />
    <img src="https://img.shields.io/badge/Python-%233776AB.svg?style=for-the-badge&logo=python&logoColor=white" />
    <img src="https://img.shields.io/badge/JavaScript-%23F7DF1E.svg?style=for-the-badge&logo=javascript&logoColor=black" />
    <img src="https://img.shields.io/badge/TypeScript-%23007ACC.svg?style=for-the-badge&logo=typescript&logoColor=white" />
    <img src="https://img.shields.io/badge/C-%2300599C.svg?style=for-the-badge&logo=c&logoColor=white" />
    <img src="https://img.shields.io/badge/C++-%2300599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white" />


  <h3 >🚀 Frameworks & Libraries  </h3>
  <p align="left">

    <img src="https://img.shields.io/badge/Spring%20Boot-%236DB33F.svg?style=for-the-badge&logo=spring&logoColor=white" />
    <img src="https://img.shields.io/badge/Angular-%23DD0031.svg?style=for-the-badge&logo=angular&logoColor=white" />
    <img src="https://img.shields.io/badge/Bootstrap-%237952B3.svg?style=for-the-badge&logo=bootstrap&logoColor=white" />
  </p>

 <h3>🛢️ Databases  </h3>

    <img src="https://img.shields.io/badge/MySQL-%234479A1.svg?style=for-the-badge&logo=mysql&logoColor=white" />
    <img src="https://img.shields.io/badge/PostgreSQL-%234169E1.svg?style=for-the-badge&logo=postgresql&logoColor=white" />


  <h3> 🛠️ Tools & Platforms </h3>

    <img src="https://img.shields.io/badge/Git-%23F05032.svg?style=for-the-badge&logo=git&logoColor=white" />
    <img src="https://img.shields.io/badge/Linux-%23FCC624.svg?style=for-the-badge&logo=linux&logoColor=black" />
    <img src="https://img.shields.io/badge/Kaggle-%2320BEFF.svg?style=for-the-badge&logo=kaggle&logoColor=white" />
    <img src="https://img.shields.io/badge/Pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white" />
    <img src="https://img.shields.io/badge/Seaborn-%233776AB.svg?style=for-the-badge&logo=python&logoColor=white" />



</div>

<div class="resume">
  <h1>Resume</h1>
  <p>Here is a quick view of my resume. You can also download it!</p>

  <a href="Resume.pdf" target="_blank">
    <i class="fa fa-file-pdf"> View Resume</i>

  </a>
  <a href="Resume.pdf" target="_blank" download="Samir_K.C._Resume.pdf">
    <i class="fa fa-download"> Download Resume</i>
  </a>
</div>
